@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #3e82ff;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transform: translate(-50%, -50%);
    transition: width .7s, height .7s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgb(62, 130, 255) url(../imagens/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #0a1d36;
}

div#formulario > p {
    font-size: 0.9em;
    text-align: center;
    color: #0a1d36;
    margin-bottom: 15px;
}

form > div.campo {
    background-color: #030f25;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #1c2f49;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translate(45px,-42px);
    color: rgb(255, 255, 255);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.74);
}

div.campo > input:focus-within {
    background-color: #192436;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
    background-color: #07489c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #0a1d36;
    transition-duration: .5s;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 7px;
    background-color: white;
    border: 1px solid #0a1d36;
    border-radius: 5px;
    color: #0a1d36;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #c2daff;
    transition-duration: .5s;
}